%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project), title: 'Back to project', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Back to project

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'projects#edit') do
      = link_to edit_project_path(@project), title: 'Project Settings', data: {placement: 'right'} do
        = icon('pencil-square-o fw')
        %span
          Project Settings
    - if @project.allowed_to_share_with_group?
      = nav_link(controller: :group_links) do
        = link_to namespace_project_group_links_path(@project.namespace, @project) do
          = icon('share-square-o fw')
          %span
            Groups
    = nav_link(controller: :deploy_keys) do
      = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Deploy Keys', data: {placement: 'right'} do
        = icon('key fw')
        %span
          Deploy Keys
    = nav_link(controller: :hooks) do
      = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web Hooks', data: {placement: 'right'} do
        = icon('link fw')
        %span
          Web Hooks
    = nav_link(controller: :git_hooks) do
      = link_to namespace_project_git_hooks_path(@project.namespace, @project) do
        = icon('git-square fw')
        %span
          Git Hooks
    = nav_link(controller: :services) do
      = link_to namespace_project_services_path(@project.namespace, @project), title: 'Services', data: {placement: 'right'} do
        = icon('cogs fw')
        %span
          Services
    = nav_link(controller: :protected_branches) do
      = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: 'Protected Branches', data: {placement: 'right'} do
        = icon('lock fw')
        %span
          Protected Branches
    = nav_link(controller: :audit_events) do
      = link_to namespace_project_audit_events_path(@project.namespace, @project) do
        = icon('file-text-o fw')
        %span
          Audit Events

    - if @project.gitlab_ci?
      = nav_link(controller: :runners) do
        = link_to namespace_project_runners_path(@project.namespace, @project), title: 'Runners', data: {placement: 'right'} do
          = icon('cog fw')
          %span
            Runners
      = nav_link(controller: :variables) do
        = link_to namespace_project_variables_path(@project.namespace, @project) do
          = icon('code fw')
          %span
            Variables
      = nav_link path: 'triggers#index' do
        = link_to namespace_project_triggers_path(@project.namespace, @project) do
          = icon('retweet fw')
          %span
            Triggers
      = nav_link path: 'ci_web_hooks#index' do
        = link_to namespace_project_ci_web_hooks_path(@project.namespace, @project) do
          = icon('link fw')
          %span
            CI Web Hooks
      = nav_link path: 'ci_settings#edit' do
        = link_to edit_namespace_project_ci_settings_path(@project.namespace, @project) do
          = icon('building fw')
          %span
            CI Settings
      = nav_link controller: 'ci_services' do
        = link_to namespace_project_ci_services_path(@project.namespace, @project) do
          = icon('share fw')
          %span
            CI Services
      = nav_link path: 'events#index' do
        = link_to ci_project_events_path(@project.gitlab_ci_project) do
          = icon('book fw')
          %span
            CI Events
