- name = field[:name]
- title = field[:title] || name.humanize
- value = @service.send(name)
- type = field[:type]
- placeholder = field[:placeholder]
- choices = field[:choices]
- default_choice = field[:default_choice]
- help = field[:help]
- model_method = field[:model_method]

.form-group
  - if type == "password" && value.present?
    = form.label name, "Change #{title}", class: "control-label"
  - else
    = form.label name, title, class: "control-label"
  .col-sm-10
    - if type == 'text'
      = form.text_field name, class: "form-control", placeholder: placeholder
    - elsif type == 'textarea'
      = form.text_area name, rows: 5, class: "form-control", placeholder: placeholder
    - elsif type == 'checkbox'
      = form.check_box name
    - elsif type == 'select'
      = form.select name, options_for_select(choices, value ? value : default_choice), {}, { class: "form-control" }
    - elsif type == 'password'
      = form.password_field name, autocomplete: "new-password", class: 'form-control'
    - elsif type == 'radio_group'
      = render('shared/radio_group', model_method: model_method, choices: choices, form: form, selected_choice: value ? value : default_choice)
    - if help
      %span.help-block= help
