- choices.each do |choice|
  .radio
    = form.label "#{model_method}_#{choice[:value]}" do
      = form.radio_button model_method, choice[:value], checked: (selected_choice == choice[:value])
      %span
        = choice[:title]
      %span.help-block
        = choice[:help]